.card{
    width: 300px;
    
    border: 1px solid gray;
}

.card h2{
    font-size: 18px;
}
.photo{
    width: 280px;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info img{
    width: 24px;
    height: 24px;
}
.card-btn{
    background-color: aqua;
}
.home-container{
    display: flex;
   
}
.card-container{
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}