.main-container{
    background-color: #F3F3F3;
    padding: 20px;
    width: auto;
}
.card{
    width: 300px;
    background-color: #fff;
    padding-top: 10px;

    border-radius: 10px;
}
.card p{
    margin: 0 15px 10px;
}
.card h2{
    font-size: 18px;
}
.photo{
    width: 280px;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info img{
    width: 24px;
    height: 24px;
}
.card-btn{
    background-color: aqua;
}
.home-container{
    display: flex;
   
}
.card-container{
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}